<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Freeplayモード</key>
	<string>html/freeplay_expr</string>
	<key>Tutorialモード</key>
	<string>html/tutorial_expr</string>
	<key>Bot Sessionモード</key>
	<string>html/botsession_expr</string>
	<key>鍵盤とその操作</key>
	<string>html/ui_expr</string>
</dict>
</plist>
