<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uiParametersDict</key>
	<dict>
		<key>whiteKeyWidth</key>
		<integer>60</integer>
		<key>whiteKeyHeight</key>
		<integer>100</integer>
		<key>blackKeyWidth</key>
		<integer>40</integer>
		<key>blackKeyHeight</key>
		<integer>50</integer>
	</dict>
	<key>soundsList</key>
	<array>
		<string>0A</string>
		<string>0A#</string>
		<string>0B</string>
		<string>0C</string>
		<string>0C#</string>
		<string>0D</string>
		<string>0D#</string>
		<string>0E</string>
		<string>0F</string>
		<string>0F#</string>
		<string>0G</string>
		<string>0G#</string>
		<string>1A</string>
		<string>1A#</string>
		<string>1B</string>
		<string>1C</string>
		<string>1C#</string>
		<string>1D</string>
		<string>1D#</string>
		<string>1E</string>
		<string>1F</string>
		<string>1F#</string>
		<string>1G</string>
		<string>1G#</string>
		<string>2A</string>
		<string>2A#</string>
		<string>2B</string>
		<string>2C</string>
		<string>2C#</string>
		<string>2D</string>
		<string>2D#</string>
		<string>2E</string>
		<string>2F</string>
		<string>2F#</string>
		<string>2G</string>
		<string>2G#</string>
		<string>3A</string>
		<string>3A#</string>
		<string>3B</string>
		<string>3C</string>
		<string>3C#</string>
		<string>3D</string>
		<string>3D#</string>
		<string>3E</string>
		<string>3F</string>
		<string>3F#</string>
		<string>3G</string>
		<string>3G#</string>
		<string>4A</string>
		<string>4A#</string>
		<string>4B</string>
		<string>4C</string>
		<string>4C#</string>
		<string>4D</string>
		<string>4D#</string>
		<string>4E</string>
		<string>4F</string>
		<string>4F#</string>
		<string>4G</string>
		<string>4G#</string>
		<string>5A</string>
		<string>5A#</string>
		<string>5B</string>
		<string>5C</string>
		<string>5C#</string>
		<string>5D</string>
		<string>5D#</string>
		<string>5E</string>
		<string>5F</string>
		<string>5F#</string>
		<string>5G</string>
		<string>5G#</string>
		<string>6A</string>
		<string>6A#</string>
		<string>6B</string>
		<string>6C</string>
		<string>6C#</string>
		<string>6D</string>
		<string>6D#</string>
		<string>6E</string>
		<string>6F</string>
		<string>6F#</string>
		<string>6G</string>
		<string>6G#</string>
		<string>7A</string>
		<string>7A#</string>
		<string>7B</string>
		<string>7C</string>
		<string>Empty</string>
	</array>
	<key>scalesDict</key>
	<dict>
		<key>A#MinorPentatonic</key>
		<array>
			<integer>1</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<key>A#MajorPentatonic</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>8</integer>
			<integer>10</integer>
		</array>
		<key>A#Mixolydian+C#</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>DAltered</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<key>GAltered</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>CLydianb7</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>EMajorPentatonic</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<key>EMajorPentatonic+A#</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<key>EMajorPentatonic+A</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<key>G#HMP5</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<key>FMinorPentatonic</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<key>FMinorPentatonic+G</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>FNaturalMinor+E</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>F#Major</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
	</dict>
	<key>bgmDict</key>
	<dict>
		<key>0</key>
		<dict>
			<key>title</key>
			<string>theChicken</string>
			<key>numberOfBarCount</key>
			<integer>0</integer>
			<key>numberOfBarIntro</key>
			<integer>8</integer>
			<key>numberOfBar</key>
			<integer>16</integer>
			<key>numberOfBarLast</key>
			<integer>16</integer>
			<key>bpm</key>
			<integer>108</integer>
			<key>beat</key>
			<integer>4</integer>
			<key>key</key>
			<string>A#</string>
			<key>scalesBaseList</key>
			<array>
			<string>A#MinorPentatonic</string>
			<string>A#MinorPentatonic</string>
			<string>A#MinorPentatonic</string>
			<string>A#MinorPentatonic</string>
			<string>A#MinorPentatonic</string>
			<string>A#MinorPentatonic</string>
			<string>A#MinorPentatonic</string>
			<string>A#MinorPentatonic</string>
			<string>A#MinorPentatonic</string>
			<string>A#MinorPentatonic</string>
			<string>A#MajorPentatonic</string>
			<string>A#MajorPentatonic</string>
			<string>A#MajorPentatonic</string>
			<string>A#MajorPentatonic</string>
			<string>A#MajorPentatonic</string>
			<string>A#MinorPentatonic</string>
			</array>
			<key>scalesList</key>
			<array>
			<string>A#Mixolydian+C#</string>
			<string>A#Mixolydian+C#</string>
			<string>A#Mixolydian+C#</string>
			<string>A#Mixolydian+C#</string>
			<string>A#Mixolydian+C#</string>
			<string>A#Mixolydian+C#</string>
			<string>A#Mixolydian+C#</string>
			<string>A#Mixolydian+C#</string>
			<string>A#Mixolydian+C#</string>
			<string>A#Mixolydian+C#</string>
			<string>DAltered</string>
			<string>GAltered</string>
			<string>CLydianb7</string>
			<string>CLydianb7</string>
			<string>CLydianb7</string>
			<string>CLydianb7</string>
			</array>
			<key>chordList</key>
			<array>
				<string>A#7</string>
				<string>A#7</string>
				<string>A#7</string>
				<string>A#7</string>
				<string>A#7</string>
				<string>A#7</string>
				<string>A#7</string>
				<string>A#7</string>
				<string>D#7</string>
				<string>D#7</string>
				<string>D7</string>
				<string>G7</string>
				<string>C7</string>
				<string>C7</string>
				<string>C7</string>
				<string>C7</string>
			</array>
			<key>intro</key>
			<true/>
		</dict>
		<key>1</key>
		<dict>
			<key>title</key>
			<string>isntSheLovely</string>
			<key>numberOfBarCount</key>
			<integer>2</integer>
			<key>numberOfBarIntro</key>
			<integer>8</integer>
			<key>numberOfBar</key>
			<integer>16</integer>
			<key>numberOfBarLast</key>
			<integer>16</integer>
			<key>bpm</key>
			<integer>120</integer>
			<key>beat</key>
			<integer>4</integer>
			<key>key</key>
			<string>E</string>
			<key>scalesBaseList</key>
			<array>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			<string>EMajorPentatonic</string>
			</array>
			<key>scalesList</key>
			<array>
				<string>EMajorPentatonic</string>
				<string>EMajorPentatonic+A#</string>
				<string>EMajorPentatonic+A</string>
				<string>EMajorPentatonic</string>
				<string>EMajorPentatonic</string>
				<string>EMajorPentatonic+A#</string>
				<string>EMajorPentatonic+A</string>
				<string>EMajorPentatonic</string>
				<string>EMajorPentatonic+A#</string>
				<string>G#HMP5</string>
				<string>EMajorPentatonic</string>
				<string>EMajorPentatonic+A#</string>
				<string>EMajorPentatonic+A</string>
				<string>EMajorPentatonic+A</string>
				<string>EMajorPentatonic</string>
				<string>EMajorPentatonic</string>
			</array>
			<key>chordList</key>
			<array>
				<string>C#m7</string>
				<string>F#7</string>
				<string>Bsus7</string>
				<string>E</string>
				<string>C#m7</string>
				<string>F#7</string>
				<string>Bsus7</string>
				<string>E</string>
				<string>Amaj7</string>
				<string>G#7</string>
				<string>C#m7</string>
				<string>F#7</string>
				<string>Bsus7</string>
				<string>Bsus7</string>
				<string>E</string>
				<string>E</string>
			</array>
			<key>intro</key>
			<false/>
		</dict>
		<key>2</key>
		<dict>
			<key>title</key>
			<string>justTheTwoOfUs</string>
			<key>numberOfBarCount</key>
			<integer>1</integer>
			<key>numberOfBarIntro</key>
			<integer>4</integer>
			<key>numberOfBar</key>
			<integer>8</integer>
			<key>numberOfBarLast</key>
			<integer>10</integer>
			<key>bpm</key>
			<integer>86</integer>
			<key>beat</key>
			<integer>4</integer>
			<key>key</key>
			<string>F</string>
			<key>scalesBaseList</key>
			<array>
				<string>FMinorPentatonic</string>
				<string>FMinorPentatonic</string>
				<string>FMinorPentatonic</string>
				<string>FMinorPentatonic</string>
				<string>FMinorPentatonic</string>
				<string>FMinorPentatonic</string>
				<string>FMinorPentatonic</string>
				<string>FMinorPentatonic</string>
			</array>
			<key>scalesList</key>
			<array>
				<string>FMinorPentatonic+G</string>
				<string>FNaturalMinor+E</string>
				<string>FMinorPentatonic+G</string>
				<string>F#Major</string>
				<string>FMinorPentatonic+G</string>
				<string>FNaturalMinor+E</string>
				<string>FMinorPentatonic+G</string>
				<string>FMinorPentatonic+G</string>
			</array>
			<key>chordList</key>
			<array>
				<string>A#maj7</string>
				<string>A7</string>
				<string>Dm7</string>
				<!--<string>C#m7</string>-->
				<string>Cm7</string>
				<!--<string>F13</string>-->
				<string>A#maj7</string>
				<string>A7</string>
				<string>Dm7</string>
				<string>Dm7</string>
				<string>Dm7</string>
				<string>Dm7</string>
			</array>
			<key>intro</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
